.title{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 10px;
}

.card{
    display: flex;
    flex: auto;
    margin-top: 15px;
    height: 100px;
}

.time{
    width: 15%;
    text-align: center;
    height:fit-content;
    font-size: large;
    margin-right: 2px;
    margin-left: 5px;
    background-color: aquamarine;
    border-radius: 15px;
    padding-top: 5px;
    padding: 5px 5px;
    overflow: auto;

}

.time hr{
    margin: 0;
}

.description{
    width: 80%;
    text-align: center;
    border: 3px solid green;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    background-color: rgb(37, 101, 153);
    color: beige;
    overflow: auto;
    padding-top: 10px;
}

.btn{
    width: 15%;
    height: 50%;
    min-width: 10px;
    margin-left: 15px;
    margin-right: 5px;
    background-color: aquamarine;
    border-radius: 15px;
    overflow: hidden;
    font-size: large;
}

.todo{
    background-color: bisque;
    border: 2mm ridge rgba(128, 71, 128, 0.6);
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px #b0b0b0;
}

