.board{
    width:50%;
    margin: 0 auto;

}

/*======Media Queries (Medium Devices) =================*/

@media screen and (max-width:1024px) {
    .board{
        width:70%;
        margin: 0 auto;
    }
}

/*======Media Queries (Medium Devices) =================*/

@media screen and (max-width:600px) {
    .board{
        width:95%;
        margin: 0 auto;
        min-width: 300px;
    }
}
