.addBtn{
    margin:10px auto;
}

.addBtn button{
    display: block;
    width:200px;
    height: 50px;
    margin:10px auto;
    background-color: aqua;
    border-radius: 20px;
}

.subBtn{
    display: block;
    width:120px;
    height: 50px;
    margin:10px auto;
    background-color: aqua;
    border-radius: 20px;
}

.form{
    background-color: antiquewhite;
    display: block;
    margin: 10 auto;
    padding: 10 20;
}

.form label{
    display: block;
    margin:2px auto;
    text-align: center;
}